<!-- flask_app/templates/pages/dashboard.html -->
{% extends "layouts/base.html" %}

{% block content %}
<div class="dashboard-container">

  <!-- Judul -->
  <h2 class="dashboard-title">Dashboard Sistem Akademik</h2>

  

  <!-- Kotak Ringkasan -->
  <div class="dashboard-grid">
    <div class="stat-card">
      <h4>Total Dosen</h4>
      <p>{{ dosen|length }}</p>
    </div>
    <div class="stat-card">
      <h4>Total Matakuliah</h4>
      <p>{{ matakuliah|length }}</p>
    </div>
    <div class="stat-card">
      <h4>Total Kelas</h4>
      <p>{{ kelas|length }}</p>
    </div>
  </div>

</div>
{% endblock %}
