{% extends "layouts/base.html" %}
{% block content %}

<div class="card">
  <h3 class="page-title">
    Detail Kelas: {{ kelas.nama }}
  </h3>

  <!-- Form Tambah Mahasiswa -->
  <form method="post" action="{{ url_for('main.mahasiswa_tambah') }}" class="form-card">
    <input type="hidden" name="kelas_id" value="{{ kelas.id }}">
    <input class="input-dark" name="nama" placeholder="Nama Mahasiswa" required>
    <input class="input-dark" name="nim" placeholder="NIM" required>
    <button class="btn-dashboard">Tambah Mahasiswa</button>
  </form>

  <!-- Tabel Mahasiswa -->
  <table class="table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>NIM</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for m in mahasiswa %}
      <tr>
        <td>{{ m.id }}</td>

        <form method="post" action="{{ url_for('main.mahasiswa_edit') }}">
          <input type="hidden" name="id" value="{{ m.id }}">
          <td><input class="input-dark-small" name="nama" value="{{ m.nama }}"></td>
          <td><input class="input-dark-small" name="nim" value="{{ m.nim }}"></td>
          <td style="display:flex; gap:6px;">
            <button class="btn-action">Simpan</button>
            <a class="btn-action"
               href="{{ url_for('main.mahasiswa_hapus', id=m.id) }}"
               onclick="return confirm('Yakin hapus mahasiswa ini?')">
               Hapus
            </a>
          </td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 <a href="{{ url_for('main.kelas_list') }}" class="btn-dashboard" style="margin-top:15px;">
    ← Kembali ke Kelas
  </a>
{% endblock %}
