<!-- flask_app/templates/pages/keranjang.html -->
{% extends 'layouts/base.html' %}
{% block content %}

<h2 class="section-title">
    <i class="fa fa-cart-shopping"></i> Keranjang Belanja
</h2>

{% if keranjang_list|length == 0 %}
    <p class="empty">Keranjang masih kosong</p>
{% else %}

<table class="cart-table">
<tr>
    <th>Produk</th>
    <th>Jumlah</th>
    <th>Subtotal</th>
    <th></th>
</tr>

{% for k in keranjang_list %}
<tr>
    <td>{{ k.nama_produk }}</td>
    <td>
    <div class="qty-wrapper">
        <form method="post"
              action="{{ url_for('main.update_jumlah_keranjang', keranjang_id=k.id) }}"
              class="qty-form">

            <button type="submit" name="aksi" value="kurang" class="qty-btn">−</button>

            <input type="text"
                   value="{{ k.jumlah }}"
                   readonly
                   class="qty-input">

            <button type="submit" name="aksi" value="tambah" class="qty-btn">+</button>
        </form>
    </div>
</td>

    <td>Rp {{ '{:,.0f}'.format(k.subtotal) }}</td>
    <td>
        <a href="{{ url_for('main.hapus_dari_keranjang', keranjang_id=k.id) }}" class="hapus">
            <i class="fa fa-trash"></i>
        </a>
    </td>
</tr>
{% endfor %}
</table>

<h3 class="total">Total: Rp {{ '{:,.0f}'.format(total) }}</h3>

<a href="{{ url_for('main.checkout') }}" class="btn-checkout">
    Checkout
</a>


{% endif %}
{% endblock %}
